#Base
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
matplotlib==3.8.4
openpyxl==3.1.2

# Tracking
mlflow==2.12.1
tqdm==4.66.4  # pour la barre de progression pendant le tuning
joblib==1.3.2 

#Modèles 
lightgbm==4.3.0
xgboost==2.0.3

# Visu 
seaborn==0.13.2  # utilisé dans generate_xg_predictions.py

# --- Optionnel mais conseillé ---
pyyaml>=6.0.1   # souvent utilisé par MLflow
